body {
  background-color: #000000;
  background: url("/public/skyscrapers-gee6dac507_1920.jpg");
}

.header {
  width: 100%;
  height: 50px;
  color: #FFFFFF;
}

.footer {
  width: 100%;
  height: 100px;
  color: #FFFFFF;
}

.container {
  width: 100%;
  max-width: 750px;
  margin: auto;
}

.main_screen {
  width: 100%;
  height: 0;
  padding-top: 66.6666666667%;
  background-color: aqua; 
  display: flex;
  justify-content: center;
  align-items: center; 
  background: url("/public/mabataki.gif") center center no-repeat;
  background-size: cover;
  border: solid 1px #333333;
}

.message_window {
  width: 100%;
  color: #FFFFFF;
  font-family: 'PixelMplus12-Regular';
  font-size: 16px;
  line-height: 25px;
  background-color: #000000;
  border: solid 1px #333333;
}

.message {
  margin: 10px;
}

.message_window button {
  color: #FFFFFF;
  font-family: 'PixelMplus12-Regular';
  font-size: 16px;
  line-height: 25px;
  background-color: #000000;
  padding: 3px;
  margin: 3px;
  border: solid 3px #333333;
}

.result {
  text-align: center;
  color: #FFFFFF;
}

.result a {
  color: #ffc400;
  text-decoration: underline;
}

/* Webフォント読み込み */
@font-face {
	font-family: 'PixelMplus12-Regular';
	src: url('/public/PixelMplus12-Regular.ttf') format("truetype");
}